// fonts
$poppins: 'Poppins', sans-serif;
$plusJakarta: 'Plus Jakarta Sans', sans-serif;
$inter: 'Inter', sans-serif;
$helveticaNowDisplay: 'Helvetica Now Display', sans-serif;
$helveticaNeueCryt: 'Helvetica Neue Cyr', sans-serif;

// colors
$black: #0e0f0f;
$white: #fafafa;

// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1140px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;
