// fonts
$poppins: 'Poppins', sans-serif;
$plusJakarta: 'Plus Jakarta Sans', sans-serif;
$inter: 'Inter', sans-serif;
$helveticaNowDisplay: 'Helvetica Now Display', sans-serif;
$helveticaNeueCryt: 'Helvetica Neue Cyr', sans-serif;

// colors
$black: #0e0f0f;
$white: #fafafa;
