.footer {
  height: fit-content !important;

  .wrapper {
    @apply flex;

    border-top: 1px solid rgba(252, 252, 252, 0.25);

    > .wrap {
      &:nth-child(1) {
        @apply shrink-[1] flex-[0.25] pt-[5.291vw] px-[10.582vw] pb-[10.913vw];

        border-right: 1px solid rgba(252, 252, 252, 0.25);

        .col {
          @apply w-full flex flex-col gap-[2.315vw];

          .logo {
            @apply w-full h-[5.622vw];

            svg {
              path {
                opacity: 0;
                translate: 0 50%;
              }
            }
          }

          > div:last-child {
            @apply flex items-center gap-[1.157vw] opacity-0 translate-y-1/2;

            transition-delay: 0.2s !important;
            transition-duration: 0.75s !important;

            p {
              @apply opacity-[0.4];
            }
          }
        }
      }

      &:nth-child(2) {
        @apply shrink-[1] flex-[0.75] px-[3.968vw] py-[2.646vw] pb-[9.259vw] flex items-start justify-between;

        .col {
          @apply flex flex-col gap-[1.852vw] text-[0.794vw] font-medium;

          color: #979797;

          ul {
            @apply text-[1.587vw] flex flex-col gap-[1.587vw];
            color: $white;
            line-height: 180%;
            letter-spacing: -0.48px;

            li {
              @apply opacity-0 translate-y-1/2;
              transition-duration: 1s !important;
              transition-delay: 0.35s !important;
              line-height: 100%;
            }

            span {
              @apply opacity-0 translate-y-1/2;
              transition-duration: 1s !important;
              transition-delay: 0.35s !important;
            }

            span {
              @apply opacity-0 translate-y-1/2;
              transition-duration: 1s !important;
              transition-delay: 0.35s !important;
            }
          }
        }
      }
    }
  }
}
