.contactForm {
  @apply relative h-full w-full p-[3.968vw];

  border-radius: 30px;
  background: rgba(72, 72, 72, 0.06);
  backdrop-filter: blur(9.5px);

  @media (max-width: $tablet) {
    @apply px-[6.154vw] py-[11.282vw] rounded-[5.128vw];
  }

  .waves {
    @apply absolute left-0 top-0 w-full h-full z-[0] pointer-events-none;
  }

  .infoPanel {
    @apply rounded-[1.058vw] p-[0.661vw] h-fit max-w-[16.534vw] w-full pt-[0.926vw] absolute right-[0.992vw] bottom-[0.992vw] flex flex-col gap-[0.661vw];

    transition: 0.7s ease;
    transition-property: opacity, height, scale;

    opacity: 0;
    scale: 0.9;

    background-image: url('/images/png/info-panel-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $tablet) {
      @apply static max-w-full p-[3.077vw] pt-[4.103vw] gap-[2.821vw] rounded-[4.872vw] mb-[9.5vh];
    }

    &.visible {
      opacity: 1;
      scale: 1;
    }

    span {
      @apply text-[0.661vw] opacity-[0.8];
      font-family: 'Poppins', sans-serif;
      line-height: 140%;
      letter-spacing: -0.2px;

      @media (max-width: $tablet) {
        @apply text-[3.077vw];
      }
    }

    .head {
      @apply px-[1.323vw] flex items-center justify-between w-full;

      @media (max-width: $tablet) {
        @apply px-[6.154vw];
      }

      p {
        @apply text-[1.323vw];

        @media (max-width: $tablet) {
          @apply text-[5.128vw];
        }
      }
    }

    .body {
      @apply flex flex-col gap-[0.529vw] w-full;

      @media (max-width: $tablet) {
        @apply gap-[2.436vw];
      }

      .step {
        @apply w-full rounded-[1.058vw] p-[1.323vw] flex flex-col gap-[0.992vw] relative;
        line-height: 100%;

        border: 1px solid rgba(255, 255, 255, 0.15);

        @media (max-width: $tablet) {
          @apply rounded-[5.128vw] p-[6.154vw];
        }

        .edit {
          @apply absolute right-[1.323vw] top-1/2 translate-y-[-50%] text-[0.794vw] font-medium underline opacity-[0.4];
          font-family: $plusJakarta;

          @media (max-width: $tablet) {
            @apply text-[3.590vw] right-[6.154vw];
          }
        }

        span {
          @apply opacity-[0.4];
        }

        p {
          @apply text-[0.926vw] normal-case;

          @media (max-width: $tablet) {
            @apply text-[4.103vw];
          }
        }
      }
    }
  }

  .content {
    @apply w-full h-full  flex flex-col items-center justify-center relative z-[1];

    &.sent {
      @media (max-width: $tablet) {
        .infoPanel {
          display: none;
        }

        .leftBlock {
          display: none;
        }

        .actionButton {
          display: none;
        }
      }

      .confirmContent {
        > * {
          transition: 0.35s ease !important;
          transition-property: opacity, translate !important;

          opacity: 0 !important;
          translate: 0 -25% !important;
        }
      }
    }

    &.confirm {
      .wrap {
        > * {
          @apply opacity-[0];

          translate: 0 25%;

          transition: 0.35s ease;
          transition-property: opacity, translate;
        }
      }

      .actionButton {
        @apply opacity-[0];

        translate: 0 25%;

        transition: 0.35s ease;
        transition-property: opacity, translate;
      }
    }

    .leftBlock {
      @apply absolute left-0 bottom-0 max-w-[20%] w-full flex gap-[2.976vw] flex-col;

      @media (max-width: $tablet) {
        @apply static max-w-full w-full items-center justify-center gap-[8.974vw] text-center mt-auto;

        p {
          @apply w-full max-w-full;
        }
      }
    }

    .group {
      @apply relative w-full flex items-center justify-center;

      .wrap {
        @apply flex flex-col items-center justify-center gap-[2.646vw] max-w-[45%] w-full relative;

        @media (max-width: $tablet) {
          @apply max-w-full gap-[10.256vw];
        }

        .statusContent {
          @apply absolute top-0 left-0 w-full h-full flex-col flex justify-between items-center;

          @media (max-width: $tablet) {
            @apply h-fit gap-[6.410vw];
          }

          small {
            @apply text-[0.794vw] opacity-[0.6] uppercase;

            @media (max-width: $tablet) {
              @apply text-[3.077vw];
            }

            span {
              opacity: 0;
              animation-duration: 0.75s !important;
            }
          }

          h4 {
            @apply normal-case text-center;
            font-size: 3.968vw !important;
            line-height: 110%;

            @media (max-width: $tablet) {
              font-size: 7.179vw !important;
            }

            .rect {
              @apply w-[7.540vw] h-full rounded-[11.111vw] object-cover object-center mx-[1.058vw] opacity-0 duration-300 delay-[150ms] translate-y-1/2;

              @media (max-width: $tablet) {
                @apply w-[13.846vw] h-[6.667vw] mx-[2.308vw] rounded-[20.256vw];
              }

              animation-duration: 1s !important;
              animation-delay: 0.25s !important;
            }

            > div {
              @apply flex items-center justify-center overflow-hidden w-[110%];

              span {
                @apply opacity-[0];

                translate: 0 25%;
              }
            }
          }

          p {
            @apply opacity-[0.8] normal-case;

            span {
              opacity: 0;
            }
          }
        }

        .sentContent {
          opacity: 1 !important;

          @apply justify-center gap-[3.307vw];

          small {
            color: #83c3cc;
          }
        }

        .confirmContent {
          opacity: 1 !important;

          .line {
            @apply w-[4.497vw] h-[3.968vw];

            @media (max-width: $tablet) {
              @apply w-[17.179vw] h-[14.872vw];
            }

            svg {
              path {
                transition-timing-function: linear !important;
                transition-duration: 6s !important;
                transition-delay: 0.25s !important;
              }
            }
          }

          > div:last-child {
            opacity: 0;
            translate: 0 50%;

            animation-duration: 1s !important;
            animation-delay: 0.75s !important;
          }
        }
      }

      .title {
        @apply text-[1.720vw] text-center text-center normal-case;
        line-height: 122%;

        @media (max-width: $tablet) {
          @apply text-[5.641vw];
        }

        span {
          @apply opacity-0;
        }
      }

      .input {
        @apply h-[22vh] w-full;

        @media (max-width: $tablet) {
          @apply h-[11vh];
        }
      }

      .pagination {
        @apply flex items-center gap-[0.265vw] max-w-[5.952vw] w-full h-[2.5px];

        @media (max-width: $tablet) {
          @apply gap-[1.026vw] max-w-[23.077vw];
        }

        div {
          &.active {
            @apply flex-[2];
            background-color: #fff;
          }

          @apply flex-[1] rounded-[1.25px] h-full;
          background-color: #ffffff33;

          transition: 0.7s ease;
          transition-property: background-color, flex;
        }
      }
    }

    .actionButton {
      @apply mt-auto translate-y-[-50%];

      @media (max-width: $tablet) {
        @apply mt-[6vh] mb-[11vh] translate-y-0;
      }
    }
  }
}
