.artists-slider {
  @apply w-full h-full;

  .swiper-wrapper {
    display: flex;
  }

  .swiper {
    @media (max-width: $tablet) {
      height: 100%;
    }
  }

  &__slide {
    @apply flex-[1] min-w-[33%];

    @media (max-width: $tablet) {
      @apply min-w-[77vw];
    }

    &:nth-child(even) {
      #artists-slider-card-content {
        @apply flex-col-reverse;
      }
    }

    border: 0.8px solid rgba(255, 255, 255, 0.3);
  }
}
