.records {
  @apply overflow-hidden;

  div[class='container'] {
    @apply flex gap-[7.275vw] pt-[4.960vw] pb-[1.984vw];

    @media (max-width: $tablet) {
      @apply flex-col-reverse py-[8vh] pb-[10vh] h-fit overflow-hidden flex-none relative;
    }
  }

  .titleGroup {
    @media (max-width: $tablet) {
      @apply absolute left-[5.128vw] top-[8vh] text-left;
    }
  }

  h2 {
    @apply relative;

    span {
      @apply normal-case;
    }

    .transparent {
      span {
        @apply opacity-0;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-stroke: 1px $white;

        transition-duration: 0.5s;
      }
    }

    .filled {
      @apply absolute left-0 top-0 w-full h-full;

      span {
        @apply opacity-0;

        transition-duration: 1s;
      }
    }
  }

  .textCol {
    @apply h-full flex-[0.30] flex flex-col justify-between;

    @media (max-width: $tablet) {
      @apply items-center justify-center flex-col-reverse gap-[5vw];
    }

    .group {
      @apply flex flex-col gap-[3.307vw] w-full relative;

      .cross {
        @apply absolute top-0 left-0 translate-x-[-35%] translate-y-[-80%];

        @media (max-width: $tablet) {
          @apply translate-x-0 translate-y-[-15%];
        }
      }

      @media (max-width: $tablet) {
        @apply items-center justify-center text-center;
      }
    }
  }

  .recordsList {
    @apply flex-[0.70] h-[90%];

    @media (max-width: $tablet) {
      @apply flex-none max-h-[68.7vh] h-[68.7vh];
    }
  }
}
