.input {
  @apply w-full h-full relative overflow-hidden rounded-[1000px] py-[1.638vw] px-[4.960vw];

  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(217, 217, 217, 0.02);
  backdrop-filter: blur(15px);

  @media (max-width: $tablet) {
    @apply pt-[7.369vw] py-[6.538vw] px-[9.487vw];
  }

  .content {
    @apply relative w-full h-full text-[4.622vw];
    letter-spacing: -1.7px;

    @media (max-width: $tablet) {
      @apply text-[10.256vw];
    }

    .placeholder {
      @apply absolute left-0 top-1/2 translate-y-[-50%] opacity-[0.1] pointer-events-none whitespace-nowrap;

      > div {
        &.hidden {
          opacity: 0;
          translate: 0 25%;
        }

        @apply w-full h-full overflow-hidden;
        transition: 0.5s ease;
        transition-property: opacity, translate;

        span {
          opacity: 0;
          translate: 0 50%;

          &.toDown {
            transform: translate(0);
            translate: 0;
            rotate: 0deg;
            scale: 1;
            opacity: 1;

            animation-name: toDown;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
          }
        }
      }
    }

    .topLabel {
      @apply absolute left-0 top-0 text-[0.794vw] opacity-[0.4] uppercase pointer-events-none overflow-hidden;
      line-height: 140%;
      letter-spacing: 0.6px;

      @media (max-width: $tablet) {
        @apply text-[2.564vw] translate-y-[-100%];
      }

      span {
        opacity: 0;
        translate: 0 50%;
      }
    }

    input {
      @apply text-[2.646vw] w-full h-full rounded-none outline-none absolute left-0 right-0 top-0 bottom-0;

      @media (max-width: $tablet) {
        @apply text-[4.103vw];
      }

      line-height: 100%;
      letter-spacing: -0.8px;
    }
  }
}

@keyframes toDown {
  to {
    opacity: 0;
    translate: 0 50%;
  }
}
