.artists {
  .wrapper {
    @apply w-full h-full flex flex-col pt-[75px] gap-[65px];
  }

  div[class='container'] {
    @apply flex-[0.3];
  }

  .textWrapper {
    @apply flex items-center justify-between w-full h-full;

    > div {
      @apply relative;

      &:nth-child(1) {
        span[class='section-span'] {
          @apply absolute left-0 bottom-0;
        }

        h1 {
          @apply overflow-hidden;

          line-height: 84%;

          &:nth-child(2) {
            @apply translate-x-1/2;
          }

          > span {
            @apply normal-case opacity-0 translate-y-full;
          }
        }
      }

      &:nth-child(2) {
        @apply h-full flex flex-col items-start justify-between;

        .soundWaves {
          @apply w-[32px] h-[28px] object-cover object-center opacity-0 translate-y-full;

          transition-duration: 1s;
          transition-delay: 0.5s;
        }
      }
    }
  }

  .slider {
    @apply flex-[0.7];
  }
}
