.selected {
  .wrapper {
    @apply max-w-[70%] w-full mx-auto flex flex-col items-center justify-center gap-[1vw] h-full py-[4.960vw];

    @media (max-width: $tablet) {
      @apply max-w-full py-[8vh] pb-[10vh] gap-[1vh];
    }

    &.selecting {
      .block {
        animation: toHidden 1s forwards ease;
      }

      .covers {
        animation: toHidden 1s forwards ease;
      }
    }

    .top {
      @apply flex flex-col items-center justify-center gap-[1.116vw];

      @media (max-width: $tablet) {
        @apply gap-[3vh];
      }

      h5 {
        @media (max-width: $tablet) {
          @apply text-[5.128vw];
        }

        span {
          @apply opacity-0 translate-y-full;
        }
      }

      .icon {
        @apply w-[1.323vw] h-[1.124vw] opacity-0 translate-y-1/2;

        transition-duration: 0.5s !important;
        transition-delay: 0.5s !important;

        @media (max-width: $tablet) {
          @apply w-[5.128vw] h-[4.1vw] translate-y-0;
        }

        img {
          @apply w-full h-full object-contain object-center;
        }
      }
    }

    .tabs {
      @apply flex items-center justify-center gap-[2.116vw] opacity-0 translate-y-1/2;

      transition-delay: 0.125s !important;
      transition-duration: 1s !important;

      @media (max-width: $tablet) {
        @apply justify-between w-full gap-[8.205vw];
      }

      .tab {
        @apply flex-1 flex flex-col items-center justify-center gap-[1.257vw] text-[1.455vw] opacity-[0.5] transition-opacity duration-[700ms] whitespace-nowrap;

        @media (max-width: $tablet) {
          @apply text-[4.1vw] gap-[2.5vw];
        }

        &.active {
          @apply opacity-100;
        }

        &::after {
          content: '';
          @apply w-full h-[1.5px] bg-[#fafafa];
        }

        &:hover {
          @apply opacity-100;
        }
      }
    }

    .info {
      @apply relative w-full flex-1;

      @media (max-width: $tablet) {
        @apply flex flex-col justify-between;
      }

      .covers {
        @apply max-w-[35%] w-full absolute left-1/2 translate-x-[-50%];

        @media (max-width: $tablet) {
          @apply static translate-x-0 order-2 max-w-[70vw] w-full h-[70vw] mx-auto;
        }

        .wrap {
          @apply pt-[100%] relative opacity-0 translate-y-1/2;

          transition-duration: 1.25s !important;
          transition-delay: 0.25s !important;

          .sliderWrapper {
            @apply w-full h-full absolute top-0 left-0 right-0 bottom-0;
          }

          .slider {
            @apply w-full h-full absolute top-0 left-0 right-0 bottom-0;

            .slide {
              @apply w-full h-full cursor-none;

              img {
                @apply w-full h-full object-cover object-center;
              }
            }
          }
        }
      }

      .block {
        @apply absolute;

        @media (max-width: $tablet) {
          @apply static;
        }

        .content {
          > p {
            @apply text-[1.190vw];
            color: rgba(255, 255, 255, 0.5);

            @media (max-width: $tablet) {
              @apply text-[4.103vw];
            }

            span {
              @apply text-white;
            }
          }
        }

        &.right {
          @apply right-0 top-1/2 translate-y-[-50%];

          .content {
            @media (max-width: $tablet) {
              @apply flex flex-col gap-[3vw] items-center justify-center;
            }
          }

          @media (max-width: $tablet) {
            @apply translate-y-0 order-1;
          }

          .title {
            @apply text-[2.910vw] overflow-hidden absolute left-0 top-0 whitespace-nowrap translate-y-[-100%];

            @media (max-width: $tablet) {
              @apply text-[6.15vw] static translate-y-0;
            }

            span {
              @apply opacity-0 translate-y-1/2;
            }
          }

          .author {
            @apply mt-[2.381vw] mb-[4.762vw] opacity-0 translate-x-1/2;
            transition-duration: 1s !important;
            transition-delay: 0.6s !important;

            @media (max-width: $tablet) {
              @apply translate-x-0 text-[3.6vw] my-0;
            }
          }
        }

        &.bottomLeft {
          @apply left-0 bottom-0 translate-y-[-50%] max-w-[45%] w-full pointer-events-none;

          @media (max-width: $tablet) {
            @apply translate-y-[-25%] max-w-full order-3;
          }

          .content {
            @apply flex flex-col items-center justify-center gap-[2.976vw];
          }

          .theme {
            @apply opacity-0 translate-x-[-50%];
            transition-duration: 1s !important;
            transition-delay: 0.6s !important;
          }

          .title {
            @apply relative whitespace-nowrap;

            .circlePhoto {
              @apply flex mr-[5.291vw];

              @media (max-width: $tablet) {
                @apply mr-0;
              }

              > div {
                @apply opacity-0 rotate-[-45deg] translate-x-1/2 relative;

                transform-origin: center;

                transition-delay: 0.5s !important;
                transition-duration: 1s !important;

                &:nth-child(1) {
                  @apply z-[2];
                }

                &:nth-child(2) {
                  @apply z-[1];

                  .circle {
                    @apply overflow-auto translate-x-[-50%];
                    border: 1.5px solid #fff !important;
                  }
                }
              }

              .circle {
                @apply w-[4.299vw] h-[4.299vw] rounded-[50%] overflow-hidden;

                @media (max-width: $tablet) {
                  @apply w-[8.205vw] h-[8.205vw];
                }

                img {
                  @apply w-full h-full object-cover object-center;
                }
              }
            }

            h2 {
              @apply flex items-start;
              font-size: 4.995vw !important;

              @media (max-width: $tablet) {
                font-size: 12.4vw !important;
              }

              span {
                @apply opacity-0 translate-y-full;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes toHidden {
  50% {
    opacity: 0;
    translate: 0 10%;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}
