.header {
  @apply flex items-center justify-between z-[2];

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: fit-content;

  padding: 2.646vw 1.984vw 0;

  @media (max-width: $tablet) {
    padding: 1.5vh 5.128vw 0;
  }

  &.hidden {
    .logo {
      svg {
        path {
          translate: 0 -100% !important;
        }
      }
    }
  }

  &.shown {
    .logo {
      svg {
        path {
          translate: 0 !important;
        }
      }
    }
  }

  .logo {
    @apply w-[5.622vw] h-[1.587vw] overflow-hidden;

    @media (max-width: $tablet) {
      @apply w-[17.692vw] h-[2.1vh];
    }

    svg {
      path {
        translate: 0 -100% !important;
      }
    }
  }
}
