.hero {
  &Logo {
    @apply w-[765px] h-[210px] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];

    .trademarkSymbol {
      @apply absolute right-0 top-0 opacity-0 translate-y-[200%];

      transition-duration: 1s;
    }

    svg {
      path {
        opacity: 0;
        translate: 0 50%;
      }
    }
  }

  &Card {
    @apply absolute select-none;

    -webkit-user-drag: none;

    .content {
      @apply flex gap-[12px] text-[14px] opacity-0;

      transition-duration: 1.25s;

      .text {
        span {
          transition-duration: 1.25s;
        }
      }

      img {
        @apply object-cover object-center;
      }
    }

    &.cardFirst {
      @apply top-0 left-0 translate-x-[50%];

      .line {
        @apply w-[85px] h-[75px] absolute right-0 bottom-0;
      }

      .content {
        @apply translate-y-[50%];
      }

      .text {
        writing-mode: vertical-lr;

        @apply scale-[-1];

        span {
          @apply translate-x-[-100%];
        }
      }

      img {
        @apply w-[175px] h-[225px];
      }
    }

    &.cardSecond {
      @apply right-0 top-0 translate-y-[50%];

      .content {
        @apply flex-col-reverse items-start translate-y-[50%];

        .text {
          span {
            @apply translate-y-[-100%];
          }
        }

        img {
          @apply w-[245px] h-[175px];
        }
      }
    }
  }
}
