.hero {
  &Logo {
    @apply max-w-[50%] w-full max-h-[25%] h-full absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-100%];

    .trademarkSymbol {
      @apply absolute right-0 top-0 opacity-0 translate-y-[200%];

      transition-duration: 1s;
    }

    svg {
      path {
        opacity: 0;
        translate: 0 50%;
      }
    }
  }

  &Card {
    @apply absolute select-none;

    &:hover {
      img {
        scale: 1.15;
      }
    }

    -webkit-user-drag: none;

    .content {
      @apply flex gap-[12px] text-[0.926vw] opacity-0;

      transition-duration: 1.25s;

      .text {
        span {
          transition-duration: 1.25s;
        }
      }

      .img {
        @apply overflow-hidden;

        img {
          @apply object-cover object-center w-full h-full;

          transition: scale 0.75s ease;
        }
      }
    }

    &.cardFirst {
      @apply top-0 left-0 translate-x-[50%];

      .line {
        @apply w-[5.622vw] h-[4.960vw] absolute right-0 bottom-0 z-[2];
      }

      .content {
        @apply translate-y-[50%];
      }

      .text {
        writing-mode: vertical-lr;

        @apply scale-[-1];

        span {
          @apply translate-x-[-100%];
        }
      }

      .img {
        @apply w-[11.574vw] h-[14.881vw];
      }
    }

    &.cardSecond {
      @apply right-0 top-0 translate-y-[100%];

      .content {
        @apply flex-col-reverse items-start translate-y-[50%];

        .text {
          span {
            @apply translate-y-[-100%];
          }
        }

        .img {
          @apply w-[16.204vw] h-[20vh];
        }
      }
    }
  }
}
