.menu {
  @apply fixed bottom-[2.7778vh] left-1/2 translate-x-[-50%] h-fit w-[35%] z-[4] rounded-[0.794vw];

  &.menuOpened {
    .dropdownMenu {
      @apply delay-[250ms] duration-[400ms];
    }
  }

  &.mobileOpened {
    @media (max-width: $tablet) {
      @apply w-[95vw];
      transition-delay: 0s !important;
    }

    .dropdownMenu {
      transition-delay: 0.5s;

      @media (max-width: $tablet) {
        transition-delay: 0.5s;
      }
    }

    .playerSwitch {
      width: 50%;
    }

    .menuButton {
      width: 50%;
    }
  }

  @media (max-width: $tablet) {
    @apply bottom-auto top-[75vh] h-[12vh] w-[75vw];
    transition-delay: 0.5s !important;
    transition: width 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }

  perspective: 1000px;

  &.loaded {
    .content {
      @apply opacity-100 translate-y-0;

      @media (max-width: $tablet) {
        @apply opacity-100;
      }
    }
  }

  &.toPlayer {
    .panel {
      transition-duration: 1s !important;

      &:nth-child(1) {
        transform: rotateX(90deg) translateZ(70px) !important;
      }

      &:nth-child(2) {
        transform: rotateX(0deg) translateY(-100%) !important;
      }
    }
  }

  .content {
    @apply w-full h-full flex flex-col relative opacity-0 translate-y-full transition-opacity transition-transform duration-1000 delay-700;
    perspective: 1000px;

    transition: transform 1s ease;
    transform-style: preserve-3d;

    .dropdownMenu {
      @apply absolute left-0 right-0 top-0 p-[0.397vw] w-full rounded-[0.794vw] rounded-b-none transition-opacity duration-[200ms] opacity-0 pointer-events-none;

      @media (max-width: $tablet) {
        @apply p-[1.538vw] pb-0 rounded-[3.077vw] rounded-b-none top-1/2 translate-y-[-100%];
        background: #171717 !important;
      }

      &.opened {
        @apply opacity-100 pointer-events-auto;
      }

      .body {
        @apply p-[1.653vw] flex items-start justify-between rounded-[0.5vw];
        backdrop-filter: blur(88.5px);
        background: rgba(0, 0, 0, 0.1);

        @media (max-width: $tablet) {
          @apply rounded-[2.564vw] p-[6.410vw];
        }

        .mobileCol {
          @apply flex flex-col gap-[4vh];
        }

        .col {
          @apply flex flex-col gap-[1.323vw];

          @media (max-width: $tablet) {
            @apply gap-[5.128vw];
          }

          &.pages {
            li {
              a {
                @apply relative w-fit;

                &:hover {
                  &::after {
                    @apply w-full;
                  }
                }

                &::after {
                  content: '';

                  transition: width 0.4s ease;

                  @apply absolute block w-0 bottom-[-0.5vh] min-h-[0.1vh] h-[0.1vh] bg-white;
                }
              }
            }
          }

          span {
            @apply text-[0.661vw] uppercase font-medium opacity-[0.55];

            @media (max-width: $tablet) {
              @apply text-[2.564vw];
            }
          }

          ul {
            @apply flex flex-col gap-[0.661vw];

            @media (max-width: $tablet) {
              @apply gap-[5.128vw];
            }

            li {
              @apply font-medium;

              .mobileList {
                @apply hidden flex-col gap-[3.077vw] text-[3.590vw] pt-[3.590vw];
                color: rgba(255, 255, 255, 0.6);

                @media (max-width: $tablet) {
                  @apply flex;
                }
              }
            }
          }
        }
      }
    }

    .nav {
      @apply p-[0.397vw] text-[1.058vw] text-white font-medium w-full relative h-full flex items-end;

      @media (max-width: $tablet) {
        @apply text-[4.103vw] block;
      }

      transition: border-radius 0.4s ease;

      .closeButton {
        @apply absolute top-1/2 right-[1.323vw] translate-y-[-50%] w-[0.794vw] h-[0.794vw] opacity-0 transition-opacity duration-300 pointer-events-none;

        @media (max-width: $tablet) {
          @apply w-[3.077vw] h-[3.077vw] right-[6.667vw] translate-y-[-50%];
        }

        &.shown {
          @apply opacity-100 pointer-events-auto;
        }

        img {
          @apply w-full h-full object-cover object-center;

          @media (max-width: $tablet) {
            @apply object-contain;
          }
        }
      }

      nav {
        @apply flex w-full h-[5.75vh] relative;

        @media (max-width: $tablet) {
          @apply h-full;
        }

        .menuButton {
          @apply opacity-[1] flex items-center justify-center gap-[0.926vw];
          background: #c9c9c90d;

          @media (max-width: $tablet) {
            @apply gap-[3.590vw] justify-start px-[5.128vw] min-w-[48%] duration-300 w-[48%];
            transition-property: width;
            transition-timing-function: ease;
            display: flex !important ;
          }
        }

        .playerSwitch {
          @apply flex items-center justify-start pr-[0.529vw];

          @media (max-width: $tablet) {
            @apply min-w-[48%] duration-300 w-[48%] ml-auto;
            transition-property: width;
            transition-timing-function: ease;
            display: flex !important;
          }

          &:hover {
            background-color: rgba(201, 201, 201, 0.0509803922);
          }

          > div:nth-child(2) {
            @apply transition-opacity duration-300 mx-auto;
          }

          .line {
            @apply h-[20px] w-[1px] opacity-[0.2] bg-white;

            transition: opacity 0.4s ease;

            @media (max-width: $tablet) {
              display: none;
            }
          }
        }

        .navItem {
          @apply h-full flex-1 rounded-[0.5vw];

          transition: 0.4s ease 0.125s;
          transition-property: background-color, border-radius;

          @media (max-width: $tablet) {
            @apply hidden rounded-[2.564vw];
          }

          &:hover {
            a {
              @apply opacity-[1];
            }
          }

          a {
            @apply opacity-[0.5] w-full h-full flex items-center justify-center gap-[0.926vw] transition-opacity duration-[400ms];
          }

          .burger {
            @apply w-[0.728vw] h-[0.529vw];

            @media (max-width: $tablet) {
              @apply min-w-[2.821vw] w-[2.821vw] min-h-[2.308vw] h-[2.308vw];
            }

            img {
              @apply w-full h-full object-contain object-center;
            }
          }
        }
      }
    }

    .panels {
      @apply relative rounded-[0.794vw] overflow-hidden;
      perspective: 1000px;
      backdrop-filter: blur(59px);

      transition: border-radius 0.4s ease;

      @media (max-width: $tablet) {
        @apply flex items-end h-[12vh];
      }

      @media (max-width: $tablet) {
        @apply rounded-[3.077vw];
        backdrop-filter: none;
      }

      &.menuOpened {
        @media (max-width: $tablet) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .panel {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .playerSwitch {
          > * {
            opacity: 0 !important;
          }
        }

        .navItem {
          @apply rounded-none;

          background: #c9c9c90d;

          &:not(:nth-child(2)) {
            pointer-events: none !important;
          }

          &:nth-child(2) {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          a {
            @apply opacity-0;
          }
        }

        .playerSwitch {
          pointer-events: none;

          .line {
            opacity: 0;
          }
        }
      }

      .panel {
        @apply w-full min-w-full min-h-[7.5vh] h-[7.5vh] rounded-[0.794vw];

        @media (max-width: $tablet) {
          @apply p-[1.538vw] pt-[2.051vw] rounded-[2.564vw] min-h-[8vh] h-[8vh];
          background: #171717 !important;
        }

        backface-visibility: hidden;

        transform-style: preserve-3d;

        transition: 0.5s ease;
        transition-property: transform, border-radius, backdrop-filter, height;

        background: rgba(222, 222, 222, 0.03);

        &:nth-child(1) {
          transform-origin: bottom center;
          z-index: 1;
        }

        &:nth-child(2) {
          @apply absolute left-0 right-0 bottom-[-100%];

          @media (max-width: $tablet) {
            @apply min-h-[12vh] h-[12vh];
          }

          z-index: 2;

          transform-origin: top center;
          transform: rotateX(-90deg);
        }
      }
    }
  }
}
