.menu {
  @apply fixed bottom-[2.7778vh] left-1/2 translate-x-[-50%] h-fit w-[35%] z-[2] rounded-[0.794vw];

  perspective: 1000px;

  &.loaded {
    .content {
      @apply opacity-100 translate-y-0;
    }
  }

  &.toPlayer {
    .panel {
      &:nth-child(1) {
        transform: rotateX(90deg) translateZ(70px) !important;
      }

      &:nth-child(2) {
        transform: rotateX(0deg) translateY(-100%) !important;
      }
    }
  }

  .content {
    @apply w-full h-full flex flex-col relative opacity-0 translate-y-full transition-opacity transition-transform duration-1000 delay-700;
    perspective: 1000px;

    transition: transform 1s ease;
    transform-style: preserve-3d;

    .dropdownMenu {
      @apply absolute left-0 right-0 top-0 translate-y-[-100%] p-[0.397vw] w-full rounded-[0.794vw] rounded-b-none transition-opacity duration-[400ms] opacity-0 pointer-events-none;

      background: rgba(222, 222, 222, 0.03);
      backdrop-filter: blur(59px);

      &.opened {
        @apply opacity-100 pointer-events-auto;
      }

      .body {
        @apply p-[1.653vw] flex items-start justify-between rounded-[0.5vw];
        backdrop-filter: blur(88.5px);
        background: rgba(0, 0, 0, 0.1);

        .col {
          @apply flex flex-col gap-[1.323vw];

          span {
            @apply text-[0.661vw] uppercase font-medium opacity-[0.55];
          }

          ul {
            @apply flex flex-col gap-[0.661vw];

            li {
              @apply font-medium;
            }
          }
        }
      }
    }

    .nav {
      @apply p-[0.397vw] text-[1.058vw] text-white font-medium h-full w-full relative;

      transition: border-radius 0.4s ease;

      .closeButton {
        @apply absolute top-1/2 right-[1.323vw] translate-y-[-50%] w-[0.794vw] h-[0.794vw] opacity-0 transition-opacity duration-300 pointer-events-none;

        &.shown {
          @apply opacity-100 pointer-events-auto;
        }

        img {
          @apply w-full h-full object-cover object-center;
        }
      }

      nav {
        @apply flex w-full h-full relative;

        .menuButton {
          @apply opacity-[1] flex items-center justify-center gap-[0.926vw];
          background: #c9c9c90d;
        }

        .playerSwitch {
          @apply flex items-center justify-start pr-[0.529vw];

          &:hover {
            background-color: rgba(201, 201, 201, 0.0509803922);
          }

          > div:nth-child(2) {
            @apply transition-opacity duration-300 mx-auto;
          }

          .line {
            @apply h-[20px] w-[1px] opacity-[0.2] bg-white;

            transition: opacity 0.4s ease;
          }
        }

        .navItem {
          @apply h-full flex-1 rounded-[0.5vw];

          transition: 0.4s ease 0.125s;
          transition-property: background-color, border-radius;

          &:hover {
            a {
              @apply opacity-[1];
            }
          }

          a {
            @apply opacity-[0.5] w-full h-full flex items-center justify-center gap-[0.926vw] transition-opacity duration-[400ms];
          }

          .burger {
            @apply w-[0.728vw] h-[0.529vw];

            img {
              @apply w-full h-full object-contain object-center;
            }
          }
        }
      }
    }

    .panels {
      @apply relative rounded-[0.794vw] overflow-hidden;
      perspective: 1000px;
      backdrop-filter: blur(59px);

      transition: border-radius 0.4s ease;

      &.menuOpened {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .panel {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .playerSwitch {
          > * {
            opacity: 0 !important;
          }
        }

        .navItem {
          @apply rounded-none;

          background: #c9c9c90d;

          &:not(:first-child) {
            pointer-events: none !important;
          }

          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          a {
            @apply opacity-0;
          }
        }

        .playerSwitch {
          pointer-events: none;

          .line {
            opacity: 0;
          }
        }
      }

      .panel {
        @apply w-full min-w-full min-h-[7.5vh] h-[7.5vh] rounded-[0.794vw];

        backface-visibility: hidden;

        transform-style: preserve-3d;

        transition: 1s ease;
        transition-property: transform, border-radius, backdrop-filter;

        background: rgba(222, 222, 222, 0.03);

        &:nth-child(1) {
          transform-origin: bottom center;
          z-index: 1;
        }

        &:nth-child(2) {
          @apply absolute left-0 right-0 bottom-[-100%];

          z-index: 2;

          transform-origin: top center;
          transform: rotateX(-90deg);
        }
      }
    }
  }
}
