.musicPlayer {
  @apply py-[1.190vw] pl-[1.058vw] pr-[1.918vw] w-full h-full relative;

  .progress {
    @apply absolute left-0 right-0 bottom-0 h-[2px] bg-white w-0;
    transition: 0.1s linear;
    transition-property: width;
  }

  .hidden {
    @apply absolute opacity-0 pointer-events-none;
  }

  .wrapper {
    @apply w-full h-full flex items-center justify-between;

    .info {
      @apply flex items-center gap-[0.794vw];

      .cover {
        @apply flex;

        .cube {
          @apply w-[1.852vw] h-[1.852vw];

          &.titleTicker {
            @apply relative overflow-hidden;
          }
        }
      }

      .text {
        @apply font-medium flex flex-col items-start justify-center;

        .title {
          @apply text-[0.926vw];
        }

        .artist {
          @apply text-[0.661vw];
          color: #7c7c7c;
        }
      }
    }

    .actions {
      @apply flex items-center justify-center w-fit gap-[0.992vw] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];

      > div {
        @apply w-[1.058vw] h-[1.058vw];

        svg {
          @apply w-full h-full pointer-events-none;

          path {
            @apply duration-300 transition-colors;
          }
        }
      }
    }

    .shuffle {
      &.active {
        path {
          fill: #fff;
        }
      }
    }

    .repeat {
      &.active {
        path {
          fill: #fff;
        }
      }
    }

    .main {
      width: 1.587vw !important;
      height: 1.587vw !important;

      &.active {
        .play {
          opacity: 0 !important;
        }

        .pause {
          opacity: 1 !important;
        }
      }

      svg {
        @apply absolute left-0 right-0 bottom-0 top-0 transition-opacity duration-300;
      }

      .play {
        @apply opacity-100;
      }

      .pause {
        @apply opacity-0;
      }
    }

    .close {
      @apply w-[0.794vw] h-[0.794vw];

      img {
        @apply w-full h-full object-center object-cover;
      }
    }
  }
}
