.musicPlayer {
  @apply py-[0] pl-[1.058vw] pr-[1.918vw] w-full h-full relative;

  .progress {
    @apply absolute left-0 right-0 bottom-0 h-[2px] bg-white w-0;
    transition: 0.1s linear;
    transition-property: width;
  }

  .hidden {
    @apply absolute opacity-100 w-full z-[3] left-0 bottom-0 translate-y-[15%];

    @media (max-width: $tablet) {
      @apply translate-y-[50%];
    }

    div[class*='rhap_container'] {
      @apply w-full bg-transparent p-0 shadow-none;

      div[class='rhap_controls-section'] {
        display: none;
      }

      div[class='rhap_progress-section'] {
        > div {
          &:not(:nth-child(2)) {
            display: none;
          }

          &:nth-child(2) {
            @apply m-0;

            div[class*='rhap_progress-bar'] {
              height: 3px !important;
              background-color: transparent !important;

              div[class='rhap_download-progress'] {
                background-color: transparent !important;
              }

              div[class='rhap_progress-indicator'] {
                background-color: white !important;
                @apply w-[0.75vw] h-[0.75vw] top-[-200%];

                @media (max-width: $tablet) {
                  @apply w-[2.25vw] h-[2.25vw] top-[-100%];
                }
              }

              div[class='rhap_progress-filled'] {
                background-color: white !important;
              }
            }
          }
        }
      }
    }
  }

  .wrapper {
    @apply w-full h-full flex items-center justify-between pb-[0.5vw];

    @media (max-width: $tablet) {
      @apply flex-wrap;
    }

    .info {
      @apply flex items-center gap-[0.794vw];

      @media (max-width: $tablet) {
        @apply gap-[4.359vw] mb-auto;
      }

      .cover {
        @apply flex;

        .cube {
          @apply w-[1.852vw] h-[1.852vw];

          &.titleTicker {
            @apply relative overflow-hidden;
          }
        }
      }

      .text {
        @apply font-medium flex flex-col items-start justify-center;

        .title {
          @apply text-[0.926vw];

          @media (max-width: $tablet) {
            @apply text-[3.590vw];
          }
        }

        .artist {
          @apply text-[0.661vw];
          color: #7c7c7c;

          @media (max-width: $tablet) {
            @apply text-[2.564vw];
          }
        }
      }
    }

    .actions {
      @apply flex items-center justify-center w-fit gap-[0.5vw] absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-60%];

      @media (max-width: $tablet) {
        @apply static min-w-full translate-x-0 translate-y-0 gap-[3.846vw] order-3;
      }

      > div {
        @apply w-[1.25vw] h-[1.25vw];

        @media (max-width: $tablet) {
          @apply w-[4.872vw] min-w-[4.872vw] h-[4.872vw] min-h-[4.872vw];
        }

        svg {
          @apply w-full h-full pointer-events-none;

          path {
            @apply duration-300 transition-colors;
          }
        }
      }

      > * {
        transition: scale 0.35s ease;
      }
    }

    .shuffle {
      &.active {
        path {
          fill: #fff;
        }
      }
    }

    .repeat {
      &.active {
        path {
          fill: #fff;
        }
      }
    }

    .main {
      width: 1.85vw !important;
      height: 1.85vw !important;

      @media (max-width: $tablet) {
        width: 5vw !important;
        height: 5vw !important;
        min-width: 5vw !important;
        min-height: 5vw !important;
      }

      &.active {
        .play {
          opacity: 0 !important;
        }

        .pause {
          opacity: 1 !important;
        }
      }

      svg {
        @apply absolute left-0 right-0 bottom-0 top-0 transition-opacity duration-300;
      }

      .play {
        @apply opacity-100;
      }

      .pause {
        @apply opacity-0;
      }
    }

    .close {
      @apply w-[0.794vw] h-[0.794vw];

      @media (max-width: $tablet) {
        @apply w-[3.077vw] h-[3.077vw] order-2 mb-auto translate-y-full;
      }

      img {
        @apply w-full h-full object-center object-cover;
      }
    }
  }
}
