.allArtists {
  &.collapsed {
    height: fit-content !important;

    .wrapper {
      height: fit-content !important;
      overflow: unset !important;
    }
  }

  .wrapper {
    @apply max-w-[75%] w-full mx-auto  py-[4.960vw] pb-[7.937vw] overflow-hidden h-full;

    @media (max-width: $tablet) {
      @apply py-[6vh] pb-[12vh] max-w-full;
    }

    .wrap {
      @apply flex flex-col w-full h-full relative;

      span[class='section-span'] {
        @media (max-width: $tablet) {
          @apply text-[3.077vw];
        }
      }
    }

    .showMore {
      @apply mx-auto absolute left-1/2 translate-x-[-50%] bottom-0;

      @media (max-width: $tablet) {
        @apply mt-[7vh] static translate-x-0;
      }
    }

    .artistsList {
      @apply flex flex-col w-full flex-1 overflow-hidden;

      &::-webkit-scrollbar {
        appearance: none;
      }
    }
  }
}
