.cursor {
  @apply z-[2] fixed pointer-events-none;

  div {
    width: 45px;
    height: 45px;

    border-radius: 50%;
    border: 2px solid #fff;

    translate: -50% -50%;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      display: block;

      width: 4px;
      height: 4px;

      border-radius: 50%;
      background-color: #fff;
    }
  }
}
