.vacancyInfoLabel {
  @apply text-[0.794vw] uppercase opacity-[0.4];
  letter-spacing: 0.6px;

  @media (max-width: $tablet) {
    @apply text-[3.077vw];
  }
}

.top {
  @apply flex w-full;

  transition-delay: 0.125s;
  opacity: 0;
  translate: 0 20%;

  .group {
    &:nth-child(1) {
      @apply flex-[0.45];
    }

    &:nth-child(2) {
      @apply flex-[0.55] flex items-center justify-between;

      .vacancyInfoLabel {
        &:nth-child(1) {
          @apply flex-[1.5];
        }

        &:nth-child(2) {
          @apply flex-[1];
        }
      }
    }
  }
}

.showMore {
  @apply mx-auto;

  transition-delay: 0.5s;
  opacity: 0;
  translate: 0 20%;

  @media (max-width: $tablet) {
    @apply mt-[7vh];
  }
}

.vacanciesList {
  @apply flex flex-col flex-1 overflow-hidden w-full;
}
