.record {
  @apply flex w-full opacity-0 translate-y-full;
  transition-duration: 1s !important;

  border-top: 1px solid rgba(255, 255, 255, 0.11);

  span {
    @apply text-white opacity-[0.7] text-[14px] font-medium;
  }

  &:hover {
    .genre {
      span::before {
        @apply w-full;
      }
    }

    .track {
      span::before {
        @apply w-full;
      }
    }
  }

  .action {
    .icon {
      @apply w-[30px] h-[30px] relative;

      &.active {
        .play {
          opacity: 0 !important;
        }

        .pause {
          opacity: 1 !important;
        }
      }

      .play {
        @apply opacity-100;
      }

      .pause {
        @apply opacity-0;
      }

      svg {
        @apply w-full h-full absolute left-0 right-0 bottom-0 top-0 pointer-events-none transition-opacity duration-300;
      }
    }
  }

  .genre {
    span {
      @apply relative;

      &::before {
        content: '';
        transform-origin: center;

        position: absolute;
        bottom: -4.5px;
        left: 0;
        right: 0;

        width: 0;
        height: 1px;

        background-color: #fff;

        transition: width 0.5s ease;
      }
    }
  }

  .track {
    @apply flex items-center gap-[16px];

    span {
      @apply text-[16px] text-white capitalize font-medium opacity-[1] relative;

      &::before {
        content: '';
        transform-origin: center;

        position: absolute;
        bottom: -4.5px;
        left: 0;
        right: 0;

        width: 0;
        height: 1px;

        background-color: #fff;

        transition: width 0.5s ease;
      }
    }

    .cover {
      @apply w-[40px] h-[40px] rounded-[4.8px] overflow-hidden;

      img {
        @apply w-full h-full object-cover object-center;
      }
    }
  }

  > div {
    @apply flex-1 flex items-center h-[85px];

    &:nth-child(1) {
      @apply flex-[0.3] justify-center;
    }
  }
}
