.record {
  @apply flex w-full opacity-0 translate-y-full;
  transition-duration: 1s !important;

  border-top: 1px solid rgba(255, 255, 255, 0.11);

  span {
    @apply text-white opacity-[0.7] text-[14px] font-medium;
  }

  .action {
    .icon {
      @apply w-[30px] h-[30px];

      svg {
        @apply w-full h-full;
      }
    }
  }

  .track {
    @apply flex items-center gap-[16px];

    &:hover {
      span {
        &::before {
          width: 100%;
        }
      }
    }

    span {
      @apply text-[16px] text-white capitalize font-medium opacity-[1] relative;

      &::before {
        content: '';
        transform-origin: center;

        position: absolute;
        bottom: -4.5px;
        left: 0;
        right: 0;

        width: 0;
        height: 1px;

        background-color: #fff;

        transition: width 0.5s ease;
      }
    }

    .cover {
      @apply w-[40px] h-[40px] rounded-[4.8px] overflow-hidden;

      img {
        @apply w-full h-full object-cover object-center;
      }
    }
  }

  > div {
    @apply flex-1 flex items-center h-[85px];

    &:nth-child(1) {
      @apply flex-[0.3] justify-center;
    }
  }
}
