.disc {
  width: 100%;
  height: 17.196vw;

  padding: 9.259vw 0;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $tablet) {
    @apply w-[87.692vw] mx-auto h-[24vw];
  }

  &.animated {
    .side {
      &:nth-child(2) {
        translate: -250% 0;
        opacity: 1 !important;
      }

      &:nth-child(3) {
        translate: 150% 0;
        opacity: 1 !important;
      }
    }

    .middle {
      img {
        animation: spin 2s infinite linear;
      }
    }

    .lastSide {
      &:nth-child(4) {
        translate: -400% 0;
        opacity: 1 !important;
      }

      &:nth-child(5) {
        translate: 300% 0;
        opacity: 1 !important;
      }
    }
  }

  .piece {
    position: absolute;

    left: 50%;
    translate: -50% 0;

    transition: 3s cubic-bezier(0.22, 1, 0.36, 1);
    transition-property: translate, opacity, rotate;

    img,
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    svg {
      width: 100%;
      height: 100%;

      z-index: 2;

      path {
        transition-duration: 2s !important;
      }
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }

  .middle {
    width: 17.196vw;
    height: 17.196vw;

    z-index: 3;

    @media (max-width: $tablet) {
      @apply w-[23.077vw] h-[23.077vw];
    }

    .hole {
      width: 3.638vw;
      height: 3.638vw;

      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;

      translate: -50% -50%;

      z-index: 2;
    }

    svg {
      translate: 10% 0;
    }
  }

  .side {
    width: 8.598vw;
    height: 17.196vw;

    @media (max-width: $tablet) {
      @apply w-[11.538vw] h-[23.077vw];
    }

    z-index: 2;

    opacity: 0;

    &:nth-child(3) {
      scale: -1;
    }
  }

  .lastSide {
    z-index: 1;

    width: 8.598vw;
    height: 17.196vw;

    opacity: 0;

    @media (max-width: $tablet) {
      @apply w-[11.538vw] h-[23.077vw];
    }

    svg {
      translate: 15% 0;
    }

    &:nth-child(5) {
      scale: -1;

      svg {
        translate: -15% 0;
      }
    }
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
