.button {
  @apply flex flex-col gap-[9.5px] text-[14px] font-medium;

  font-family: $helveticaNowDisplay !important;

  &:hover {
    img {
      animation: arrowAnim 0.5s ease;
    }
  }

  .underline {
    @apply w-full h-[1px] bg-white;
  }

  .text {
    @apply flex items-center justify-between gap-[14px];
  }

  .arrow {
    @apply w-[18px] h-[18px] overflow-hidden flex justify-end;

    img {
      @apply w-full h-full object-contain object-center;
    }
  }
}

@keyframes arrowAnim {
  to {
    translate: 100% 0;
  }
}
