.button {
  font-family: $helveticaNowDisplay !important;
  @apply flex flex-col gap-[0.628vw] text-[0.926vw] font-semibold w-fit;

  transition: 0.5s ease;
  transition-property: background-color, color;

  line-height: 100% !important;

  &:disabled {
    @apply pointer-events-none;
  }

  &.withAnim {
    .text {
      @apply opacity-0 translate-y-1/2;
    }

    .underline {
      @apply w-0;
    }
  }

  &.secondary {
    @apply px-[1.323vw] py-[0.926vw] min-h-[4.6296vh] bg-white
    text-black rounded-[100px];

    .arrow {
      svg {
        path {
          stroke: #000;
          stroke-width: 2px;
        }
      }
    }

    .underline {
      display: none;
    }

    &:disabled {
      @apply text-white;
      background-color: #191b1b;

      svg {
        path {
          stroke: #fafafa;
          @apply opacity-[0.5];
        }
      }

      .text {
        p {
          @apply opacity-[0.5];
        }
      }
    }
  }

  font-family: $helveticaNowDisplay !important;

  &:hover {
    svg {
      animation: arrowAnim 0.5s ease;
    }
  }

  .underline {
    @apply h-[0.0926vh] bg-white w-full;
    transition-duration: 1s;
    transition-delay: 0.5s;
  }

  .text {
    @apply flex items-center justify-between gap-[0.926vw];

    transition-duration: 1s;
    transition-delay: 0.75s;
  }

  .arrow {
    @apply w-[1.190vw] h-[1.190vw] overflow-hidden flex justify-end;

    svg {
      @apply w-full h-full min-w-full;

      path {
        transition: 0.5s ease;
        transition-property: stroke, stroke-width;
      }
    }
  }
}

@keyframes arrowAnim {
  to {
    translate: 100% 0;
  }
}
