.cross {
  @apply w-[2.116vw] h-[2.116vw] relative;

  @media (max-width: $tablet) {
    @apply w-[6.154vw] h-[6.154vw];
  }

  &.animated {
    svg {
      opacity: 0;
      animation: init 2s forwards ease 0.5s;
    }
  }

  &:hover {
    svg {
      &:nth-child(1) {
        translate: -100% 100% !important;
      }

      &:nth-child(2) {
        translate: 100% -100% !important;
      }
    }
  }

  > svg {
    @apply absolute w-[1.058vw] h-[1.058vw] pointer-events-none;

    @media (max-width: $tablet) {
      @apply w-[3.077vw] h-[3.077vw];
    }

    transition: translate 0.5s ease;

    &:nth-child(1) {
      @apply bottom-0 left-0 translate-x-[-100%] translate-y-full opacity-0;
    }

    &:nth-child(2) {
      @apply top-0 right-0 translate-x-full translate-y-[-100%] opacity-0;
    }
  }
}

@keyframes init {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
