.cross {
  @apply w-[10vw] h-[10vw] relative flex flex-col-reverse items-center justify-center;

  @media (max-width: $tablet) {
    @apply w-[6.154vw] h-[6.154vw];
  }

  &.animated {
    svg {
      opacity: 0;

      &:nth-child(1) {
        animation: initFirst 2s forwards ease 0.5s;
      }

      &:nth-child(2) {
        animation: initSecond 2s forwards ease 0.5s;
      }
    }
  }

  &:hover {
    svg {
      &:nth-child(1) {
        translate: -150% 100% !important;
      }

      &:nth-child(2) {
        translate: 100% -100% !important;
      }
    }
  }

  > svg {
    @apply w-[1.058vw] h-[1.058vw] pointer-events-none;

    @media (max-width: $tablet) {
      @apply w-[3.077vw] h-[3.077vw];
    }

    transition: translate 0.4s ease;

    &:nth-child(1) {
      @apply opacity-0 translate-x-[-200%] translate-y-[100%];
    }

    &:nth-child(2) {
      @apply opacity-0 translate-y-[-100%] translate-x-[100%];
    }
  }
}

@keyframes initFirst {
  to {
    opacity: 1;
    transform: translateX(-100%) translateY(0);
  }
}

@keyframes initSecond {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
