.threeDCards {
  @apply absolute w-[50vw] h-[85vh] left-1/2 top-[100vh] translate-x-[-50%] translate-y-[-42.5%] z-[3];

  @media (max-width: $tablet) {
    @apply w-[73.333vw] h-[44.0758vh] translate-y-0 top-[66.2322vh];
  }

  img {
    @apply max-w-[33vw] w-full h-full object-cover object-center;

    @media (max-width: $tablet) {
      @apply max-w-full;
    }
  }

  &:hover {
    .cardImage {
      transition-delay: 0.125s !important;

      &:nth-child(1) {
        translate: 50% 0;
        @apply rotate-[6deg];

        @media (max-width: $tablet) {
          @apply translate-x-[10%];
        }
      }

      &:nth-child(2) {
        translate: -50% 0;
        @apply rotate-[-6deg];

        @media (max-width: $tablet) {
          @apply translate-x-[10%];
        }
      }
    }
  }

  .movementField {
    @apply w-full h-full absolute translate-y-[25%] opacity-0;
    perspective: 1000px;

    transition-duration: 1s;
    transition-delay: 0.25s;
  }

  .cardsWrapper {
    @apply w-full h-full mx-auto absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];

    .cardImages {
      @apply w-full h-full relative translate-y-[25%] opacity-0;

      transition-duration: 1s;
      transition-delay: 0.25s;

      .cardImage {
        @apply absolute left-1/2 translate-x-[-50%];

        transition: 1s ease;
        transition-property: transform, translate;

        &:nth-child(1) {
          @apply z-[2];
        }

        &:nth-child(2) {
          @apply z-[1];
        }
      }
    }
  }

  .content {
    @apply max-w-[33vw] w-full h-full relative mx-auto pointer-events-none;

    @media (max-width: $tablet) {
      @apply max-w-full h-full;
    }

    .text {
      @apply text-[1.455vw] absolute top-0 left-0 translate-y-[-300%] z-[-1];
      line-height: 84%;

      @media (max-width: $tablet) {
        @apply text-[4.103vw];
      }

      > div {
        @apply opacity-0 translate-y-[1000%];
        transition-duration: 1.25s;
        transition-delay: 0.5s;
      }
    }

    .line {
      @apply absolute bottom-0 right-0 translate-x-1/2 w-[295px] h-[240px] z-[5];

      @media (max-width: $tablet) {
        @apply w-[44.359vw] h-[35.897vw] translate-x-0;
      }
    }

    .circleScrollLabel {
      @apply absolute left-0 top-0 translate-x-[-50%] translate-y-[25%] z-[5];

      @media (max-width: $tablet) {
        @apply translate-x-[-25%];
      }

      > div {
        @apply opacity-0 translate-y-full;
        transition-duration: 1s;
        transition-delay: 0.5s;
      }
    }
  }
}
